@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px
}
::-webkit-scrollbar-track {
    background: transparent
}
::-webkit-scrollbar-thumb {
    background: rgba(148, 163, 184, 0.2);
    border-radius: 99px
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(148, 163, 184, 0.4);
}
.custom-checkbox:checked {
    background-color: #2dd4bf;
    border-color: #2dd4bf;
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCHGHqYA0DyA_weRqyXAoO32JHAQWyfxmZdxLH4Z63tla61kvaPdihtltgHs68GmoY8c_ArZperwJGkk-hqW50G66Lw4ERMJ1rtIenWcTXr9sm7NNmYfKgxb1hoTTlxM8bu5GEe2pIlKcG7HlLxOaa-Qkwi1zbnJi47UmFcy8W7-jnrFLBQheW5EXq1IDyGCeitxYHRwE1_9GAxDnZmCSv7kVp1bPklaFMtTyt6tYeo7dM-ZaAjPF0rodLtmzPBrsrCUE4I_HO00z2I)
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.6;
    cursor: pointer
}
.dark input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8)
}
.draggable-item:active {
    cursor: grabbing
}
.draggable-item.sortable-ghost {
    opacity: 0.4;
    background-color: #f1f5f9
}
.dark .draggable-item.sortable-ghost {
    background-color: #334155
}
